body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;  
    color: #272626;
    font-weight: 600;
   
}
header{
    margin: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    
}
.heading-title{
    font-size: 52px;
    margin-top: 120px;
    margin-bottom: 0;
}
.heading-details{
    
    margin-bottom: 50px;
}
.main-heading{
    position: relative;
}
.button{
    text-decoration: none;
    color: white;
    font-weight: 900;
    background-color: 
    #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    
}

main-img{
    width: 475px;
    height: 475px;
    margin-right: 100px;
   
}
.main-img{
    background-image: url(images/Circle\ design.svg);
    
    
}
.img-zoom{
    width: 440px;
    height: 414px;
    animation-name: transform;
    animation-timing-function: ease-in-out;
    transition-duration: 3s;
   
    
}
.header:hover .img-zoom{
    transform: rotate3d(1, 1, 1, 30deg) scale(1.3);
    
    
}

/*----------------
   Section1 Styles 
 --------------------*/
 main{
     margin: 140px;
 }
 
 .section-title{
     font-size: 28px;
     font-weight: 700;
     text-align: center;
     margin-bottom: 40px;
 }
 .products{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-row-gap: 20px;
     justify-items: center;
 }
 .product-info{
      width: 330px;
     height: 476px;
     border: 2px solid #e2dbdbb4;
     box-shadow: 5px 5px 10px 10px #e2dbdbb4;
     border-radius: 5px;

 }
 .product-img{
     width: 300px;
     height: 256px;
     margin-left: 15px;
     margin-top: 15px;
     
 }
 .product-details{
     margin-left: 15px;
     padding-bottom: 17px;
 }
.rating{
     font-size: 12px;
 }
.star{
     color: #FB8200;
}
.product-details p{
     font-size: 14px;
     margin-top: 0;
}
.page-end{
    font-size: 14px;
    font-weight: 700;
    color: #E02C6D;
    text-align: right;
    margin-right: 5px;
}

/*--------------
Footer Styles 
-------------------*/
.footer{
    width: 100%;
    background-color: rgb(3, 3, 39);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
}
.social-link{
    color: white;
    margin: 10px;

}

/*------------------
     Media Queries 
    -----------------*/
    @media only screen and (max-width:577px){
        .header{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
       
        .products{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-content: center;
            
        }
        
    }


    @media only screen and (min-width:578px) and  (max-width:768px){
        .header{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .products{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
            
        }
        
    }